{% extends 'main/base.html' %}

{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'article/css/article.css' %}">
{% endblock %}

{% block heading %}歡迎光臨{% endblock %}


{% block content %}
<br>
{% for article in articles %}
    <h3>{{ article.title }}</h3>
    <p>發表時間：{{ article.pubDateTime|date:'Y-m-d H:i' }}</p>
    <div class="articleContent">{{ article.content|linebreaks|truncatechars_html:30 }}</div>
<!-- linebreaks|truncatechars_html:30 : 分段|只顯示30個字-->
    <hr>

{% endfor %}


{% endblock %}
<!-- <!DOCTYPE html>
{% load static %}
<html lang="zh-hant">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <title>部落格</title>
</head>
<body>
{% include 'main/menu.html' %}
<h2>部落格說 -- Hello World!</h2>
</body>
</html> -->